.App {
  text-align: center;
}

.App-logo {
  text-align: left;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  text-align: right;
  font-size: large;
}
.App-intro .counter{
  color:blue;
}

.Google-link{
  color:green;
  font-size: 25px; 
 }

 .Google-link strong{
  font-size: 45px;
  color:red;

 }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
