.App {
  text-align: center;
}


.App-intro {
  text-align: right;
  font-size: large;
}
.App-intro .counter{
  color:blue;
}

.Google-link{
  color:green;
  font-size: 25px; 
 }

 .Google-link strong{
  font-size: 45px;
  color:red;

 }
 .Google-link strong:hover{
  font-size: 48px;
  color:green;

 }
 .App-pathname i{
  color:red;
 }
 p{
  color: grey;
 }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
